#board{
    width: 500px;
    height: 800px;
    position: relative;
    background-image: url("images/537376c3abe34a9a9426bfbb1bb77387.gif") ;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
#player{
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("images/d6vpunv-31251b65-1bae-4106-845d-94839c043f8a.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 1px red;
}

.platform{
    width: 75px;
    height: 25px;
    background-image: url("images/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
#pantalla-inicial{
    width: 500px;
    height: 800px;
    background-image: url("images/44524779-cartoon-paisaje-país-naturaleza-formato-vertical-móvil-tamaño-de-la-pantalla.webp");
    background-size:cover;
    background-repeat: no-repeat;
}
#start{
    width: 100px;
    height: 50px;
    margin : 350px 0 0 200px 
}
#game-over{
    width: 500px;
    height: 800px;
    background-image: url("images/Y7z2es.png");
    background-size:cover;
    background-repeat: no-repeat;
}
#reset-button{
    width: 100px;
    height: 50px;
    margin : 350px 0 0 200px 
}

#score-board{
    position: absolute;
   
    width: 100px;
    height: 50px;
    margin: 25px 0 0 400px;
    text-align: center;
}

#score-game-over{
    color: rgb(235, 13, 13);
    font-size: 350%;
    text-align: center;
    width: 300px;
    margin : 20px 0 0 100px;
    position: absolute;
    padding-top: 50px;

}

#title{
    height: 75px;
    border: solid 1px;
    width: 250px;
    color: blue;
    text-align: center;
    position: absolute;
    font-size: xx-large;
    left: 125px;
    top: 200px;
}

#froakie{
    position: absolute;
    width: 200px;
    height: 200px;
    top : 525px;
    left : 150px;
}