#board{
    width: 500px;
    height: 800px;
    position: relative;
    background-image: url("images/537376c3abe34a9a9426bfbb1bb77387.gif") ;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}
#player{
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("images/d6vpunv-31251b65-1bae-4106-845d-94839c043f8a.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.platform{
    width: 100px;
    height: 25px;
    background-image: url("images/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
#pantalla-inicial{
    width: 500px;
    height: 800px;
    background-image: url("images/44524779-cartoon-paisaje-país-naturaleza-formato-vertical-móvil-tamaño-de-la-pantalla.webp");
    background-size:cover;
    background-repeat: no-repeat;
}
#start{
    width: 100px;
    height: 50px;
    margin : 350px 0 0 200px 
}
#game-over{
    width: 500px;
    height: 800px;
    background-image: url("images/HD-wallpaper-game-over-2-3d-art-black-effect-glitch-glitchart-pink-white.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
#reset-button{
    width: 100px;
    height: 50px;
    margin : 350px 0 0 200px 
}

#score-board{
    position: absolute;
   
    width: 100px;
    height: 50px;
    margin: 25px 0 0 400px;
    text-align: center;
}